<header xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        th:framgent="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto active">
            <li sec:authorize="isAuthenticated()"
                class="nav-item">
                <a class="nav-link"
                   th:href="@{/rooms}">
                    Rooms
                </a>
            </li>
            <li sec:authorize="hasRole('ADMIN')"
                class="nav-item">
                <a class="nav-link"
                   th:href="@{/room}">
                    Add room
                </a>
            </li>
            <li sec:authorize="!isAuthenticated()"
                class="nav-item">
                <a class="nav-link"
                   th:href="@{/sign_up}">
                    Sign up
                </a>
            </li>
            <li sec:authorize="!isAuthenticated()"
                class="nav-item">
                <a class="nav-link"
                   th:href="@{/sign_in}">
                    Sign in
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0"
              th:action="@{/sign_out}"
              method="post"
              sec:authorize="isAuthenticated()">
            <div class="nav-item "
                 sec:authorize="isAuthenticated()">
            <div class="nav-link">
                <span>Hello </span>
                <a th:text="${#authentication.getPrincipal().getUsername()}"
                    th:href="@{/user}">
                </a>
            </div>
            </div>
            <button class="btn btn-outline-danger my-2 my-sm-0 btn-sm"
                    type="submit">Sign out
            </button>
        </form>
    </nav>
</header>