<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Rest House</title></head>
<body>
<div class="container"
     layout:fragment="content">
    <form th:method="post"
          th:action="${'/rooms/'+ room.id + '/book'}">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Number of beds</th>
                <th>Description</th>
                <th>Is it reservation</th>
                <th>Price</th>
                <th>Guest</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="room : ${room}">
                <th scope="row" th:text="${room.id}"></th>
                <td scope="row" th:text="${room.beds}"></td>
                <td scope="row" th:text="${room.description}"></td>
                <td scope="row" th:text="${room.reservation != true}? No : Yes"></td>
                <td scope="row" th:text="${room.price}"></td>
                <td scope="row" th:if="${room?.guest}">
                    <p th:text="${room.guest.userName}"></p>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Check</label>
            <div class="col-sm-10">
                <input type="date"
                       name="localDate"
                       required="required">
            </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Check Out</label>
            <div class="col-sm-10">
                <input type="date"
                       name="localDateOut"
                       required="required">
            </div>
        </div>
        <button class="btn btn-success">
            Booking
        </button>
    </form>
    <form th:action="${'/rooms/' + room.id + '/cancel'}"
          method="post">
        <button type="submit"
                class="btn btn-primary">Cancel Booking</button>
    </form>
</div>
</body>
</html>