<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Rest House</title>
</head>
<body>
<div layout:fragment="content"
     class="container">
    <div class="row align-items-center">
        <div class="col-auto">
            <div class="card">

                <form class="form-group"
                      th:action="@{/room}"
                      method="post"
                      th:object="${room}">
                    <h3 class="text-center">You can add new room for your rest house</h3>

                    <div class="form-group">
                        <label for="room-beds">Beds</label>
                        <input class="form-control"
                               id="room-beds"
                               th:field="*{beds}"
                               type="text"
                               required
                               placeholder="Beds">
                    </div>

                    <div class="form-group">
                        <label for="room-description">Description</label>
                        <input class="form-control"
                               id="room-description"
                               th:field="*{description}"
                               type="test"
                               required
                               placeholder="Description">
                    </div>

                    <div class="form-group">
                        <label for="room-price">Price per night</label>
                        <input class="form-control"
                               id="room-price"
                               th:field="*{price}"
                               type="text"
                               required
                               placeholder="Price">
                    </div>

                    <button class="btn btn-success btn-block"
                            type="submit">Add
                    </button>

                </form>
            </div>
        </div>
    </div>
</div></body>
</html>
</body>
</html>